body {
}

h1 {
}

p {
}

#Game_Selection {
    display: none;
}

#Throw_Selection {
    display: none;
}

#Game_Results {
    display: none;
}

#Random_Results {
    display: none;
}

#Submit_Selection {
    display: none;
}